body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-left: 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
 
footer {
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    position: relative;
}
footer a{
    color: #fff;
}

.welcome {
    text-align: center;
    padding: 80px 0;
    background-color: #f4f4f4;
}

.welcome h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

#slider{
    overflow: hidden;
    position: relative; 
    width:100%;
    /* height: a; */
    box-sizing: border-box;
}
.image-box{
    display: flex;
    flex-wrap: nowrap;
    animation: bannermove 20s linear infinite;
}
@keyframes bannermove{
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(-80%);
    }
}

.features {
    padding: 50px 0;
    text-align: center;
    background-color: #fff;
}
.features h2 {
    font-size: 2em;
    margin-bottom: 20px;
}
.feature {
    margin-bottom: 30px;
}
.feature h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.jua-regular {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}
